.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
.quarto
.Rproj.user/
~$*
docs/
results.zip
results/figures/*
!results/figures/.gitkeep
results/tables/*
!results/tables/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/data_fr.rds
report/report_docx_cache/