.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
.quarto
.Rproj.user/
~$*
docs/
results.zip
results/figures/*
!results/figures/.gitkeep
results/tables/*
!results/tables/.gitkeep
report/report_docx_cache/
data/raw/
!data/raw/.gitkeep
